/* Vuetify */
/************************************************/
.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  padding: 0 5px !important;
}

.v-data-table > .v-data-table__wrapper > table > thead > tr > th,
.v-data-table .v-data-table-header th.sortable .v-data-table-header__icon {
  color: #555 !important;
  font-size: .8em !important
}

.v-data-table-header {
  background-color: #ccc;
}

.v-data-footer {
  background-color: grey;
  margin-top: 5px;
  border-top: 1px solid white !important;
}

.v-application--is-ltr .v-data-footer__select .v-select {
  margin: 0 0 0 10px !important;
}

.v-application--is-ltr .v-data-footer__pagination {
  margin: 0 5px 0 0 !important;
}

.v-data-footer__icons-after .v-btn {
  outline: none !important;
}

.v-btn {
  outline: none!important;
}

/*.v-btn--icon.v-size--default {
  margin: 0 !important;
  width: 20px !important;
}

.v-application--is-ltr .v-text-field .v-input__append-inner {
  padding-left: 0 !important;
}

.theme--dark.v-list {
  background-color: #ccc !important;
}

.v-list .v-list-item--active {
  color: yellow !important;
}*/

/************************************************/
p {
  margin-bottom: .25em !important;
}

.text-field-center {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.text-field-center input {
  text-align: center !important;
}


